/*header:after {
  content: "";
  display: block;
  clear: both;
}*/
article {
  background: #73c46f;
  width: 80%;
  margin: 25px auto;
  padding: 25px 3%;
  border-radius: 15px;
}
main p {
  text-align: justify;
  line-height: 1.5em;
}
main h2 {
  text-align: center;
}
img {
  width: 250px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

main .first-article img:first-child {
  border-radius: 50%;
  width: 80px;
  margin-bottom: 0;
}
.first-article {
  display: flex;
  /* align-items: center; */

  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
.first-article div {
  margin-right: 10px;
  margin-left: 10px;
}
.info {
  float: left;
}
/* main {
  display: flex;
} */
