body {
  background: rgb(239, 237, 186);
}
#banner {
  height: 82px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: #2a6627;
}
#logo {
  height: 76px;
  padding: 3px 0 3px 3px;
  float: left;
}

#banner-title {
  color: white;
  font-family: Purisa, Chilanka;
  width: 100%;
}
h1 {
  text-align: center;
  text-emphasis: bold;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}
#banner-title p {
  text-align: center;
  margin: 0 auto;
}

#menu {
  width: 100%;
  margin: 0 auto;
  background: #73c46f;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex: 1 1 0;
}
nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  padding: 0 10px;
}
nav a:hover {
  background: #396037;
}

/*style for main*/
aside {
  display: flex;
  justify-content: space-around;
}
aside div {
  margin-top: 25px;
}

article {
  background: #73c46f;
  width: 80%;
  margin: 25px auto;
  padding: 25px 3%;
  border-radius: 15px;
  display: flex;
}
main p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.7em;
}
main h2 {
  text-align: center;
}

img {
  width: 250px;
  margin-bottom: 10px;
}

main .first-article img:first-child {
  border-radius: 50%;
  width: 80px;
  margin-bottom: 0;
}

article img {
  display: block;
}

.articles {
  display: flex;
  flex-direction: column;
}
/*style for footer*/
footer div {
  background: #2a6627;
  width: 100%;
  margin: 0 auto;
  height: 40px;
}
footer p {
  text-align: center;
  padding-top: 12px;
}

@media (max-width: 665px) {
  body {
    background: red;
  }
  #banner {
    height: auto;
  }
  article {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
  }
  ul li {
    padding: 10px;
  }
}
@media (max-width: 805px) {
  aside {
    flex-wrap: wrap;
  }
  aside img {
    width: 200px;
  }
}
@media (min-width: 925px) {
  /* body {
    background: red; */

  aside {
    flex-direction: column;
    justify-content: flex-start;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  main p {
    font-size: 15px;
    line-height: 1.5em;
  }
  aside img {
    width: 200px;
  }
  article {
    width: 300px;
    flex-direction: column;
    align-items: center;
    padding: 15px 2%;
  }

  .articles {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
