header {
 /*background: white;*/
}
/**{
  border: 1px solid red;
}*/
body {
  background: rgb(239, 237, 186);   
}
#banner {
    height: 82px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: #2a6627;
}
#logo{
 height: 76px; 
 padding: 3px 0 3px 3px;  
 float: left;
}

#banner-title{
    color: white;
    font-family: Purisa, Chilanka;
    width: 100%;
}
h1{
 text-align: center;
 text-emphasis: bold;
 text-transform: uppercase;
 margin: 0 auto;
 padding: 0;
}
#banner-title p {
    text-align: center; 
    margin: 0 auto;
}

#menu {
    width: 100%;
    margin: 0 auto;
    background: #73c46f;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: flex-end;*/
}

nav li {
    flex: 1 1 0;    
}
nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 0 10px;
  }
nav a:hover {
    background: #396037;
}
#lomond-image h2 {
    font-size: 2.5em;
    margin: 0;
}
#lomond-image img {
    width: 100%;
}
#lomond div {
    background: #73c46f;
    float: left;
    width: 46%;
    margin: 1%;
    padding: 1%;
    border-radius: 25px;
    
    min-height: 600px;
}
h4, h2 {
    text-align: center;
}
p {
    text-align: justify;
}
.information :first-child {
    font-size: 1.2em;
    font-style: italic;
}
.description{
  text-align: center;
  font-size: 2.5em;
  margin: 0; 
}
table {
    margin: 0 auto;
    width: 70%;
}
td {
    border-bottom: 1px solid #ddd;
  }
.container {
    display: flex;
    flex-wrap: wrap;
}
 .container div {
     background: #73c46f;
     width: 32%;
     margin: 0.5%;
     border-radius: 25px;
}
.container h4 {
    text-align: left;
    padding: 0 8%;
    margin-bottom: 0;
    font-size: 1.3em;
}
.container p {
    padding: 0 3%;
    text-align: justify
}
#lomond:after {
    content: "";
    display: block;
    clear: both;
}
.mountin {
    background: #73c46f;
    border-radius: 25px;
}
.mountin h2 {
    font-size: 2.3em;
}
.mountin p{
    padding:  10px;
}
.foto-table img {
    width: 100%;
}
.info {
  display: flex;
  flex-wrap: wrap;  
}
.foto-table {
    width: 46%;
    margin:auto 1%;
    padding: 1%;   
}

footer div {
    background: #2a6627;
    width: 100%;
    margin: 0 auto;
    height: 40px;
}
footer p{
    text-align: center;
    padding-top: 12px;
}